$font-mono: "Lucida Console", monospace;
$font-sans: "franklin-gothic-urw", "Helvetica", sans-serif;

$black: rgb(40,40,40);
$lightgray: rgb(230,230,230);
$gray: rgb(160,160,160);

$darkblue: #476CFF;
$blue: #00A1FF;
$yellow: #FFD240;
$red: #FF513B;